html {
  font-size: 14px; }

body {
  font-size: 14px;
  min-width: 320px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #fff;
  margin: 0; }
  body::before {
    background-color: #f7f8f9;
    border-right: 2px solid #d4dfe8;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 29.4118%;
    z-index: 0;
    width: -webkit-calc(50% - 335px);
    width: calc(50% - 335px); }

* ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.hidden {
  display: none; }

#content::before, #content::after {
  clear: both;
  content: '';
  display: table; }

a {
  outline: none !important;
  font-family: "Roboto", sans-serif; }
  a:hover {
    text-decoration: none; }

strong, b {
  font-family: "Roboto", sans-serif;
  font-weight: bold; }

h1, h2, h3, h4, h5, h6, a {
  font-family: "Roboto", sans-serif; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.site-header {
  background-color: #3e75e8;
  color: #fff;
  position: relative; }
  .site-header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold; }
  .site-header .header-main {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    height: 100%; }
    .site-header .header-main .logo {
      float: left;
      position: relative;
      top: 5px;
      padding-left: 2.7%;
      padding-right: 2%; }
      .site-header .header-main .logo h3 {
        font-weight: bold;
        font-size: 12px;
        font-family: "Times New Roman";
        text-transform: uppercase;
        margin: 0;
        line-height: 2px; }
    .site-header .header-main .toggle_mnu, .site-header .header-main .search-box-wrapper {
      display: none; }
    .site-header .header-main .search-box-wrapper {
      position: absolute;
      right: 0;
      bottom: -50%; }
      .site-header .header-main .search-box-wrapper.active {
        display: block; }
      .site-header .header-main .search-box-wrapper input {
        color: #fff;
        height: 100%;
        border: none;
        padding: 5px;
        background-color: #2765e5; }
        .site-header .header-main .search-box-wrapper input.search-submit {
          margin-left: -4px;
          margin-right: -4px;
          padding: 5px 20px;
          color: #363d43;
          -webkit-border-top-right-radius: 3px;
                  border-top-right-radius: 3px;
          -webkit-border-bottom-right-radius: 3px;
                  border-bottom-right-radius: 3px;
          font-weight: bold;
          text-transform: uppercase;
          background: -webkit-gradient(linear, left top, right top, from(#2765e5), to(#fff));
          background: -webkit-linear-gradient(left, #2765e5, #fff);
          background: linear-gradient(to right, #2765e5, #fff);
          -webkit-transition: all .1s ease;
          transition: all .1s ease; }
          .site-header .header-main .search-box-wrapper input.search-submit:hover {
            background: #3e75e8; }
      .site-header .header-main .search-box-wrapper .search-form {
        -webkit-border-radius: 3px;
                border-radius: 3px;
        padding: 0 0 0 15px; }
        .site-header .header-main .search-box-wrapper .search-form .screen-reader-text {
          color: #363d43;
          background: -webkit-gradient(linear, left top, right top, from(#3e75e8), to(#2765e5));
          background: -webkit-linear-gradient(left, #3e75e8, #2765e5);
          background: linear-gradient(to right, #3e75e8, #2765e5);
          padding: 7px;
          font-size: 14px;
          margin-right: -3px; }
    .site-header .header-main .header-items {
      float: right; }
      .site-header .header-main .header-items li {
        display: inline-block;
        padding: 15px 10px;
        vertical-align: middle; }
        .site-header .header-main .header-items li .screen-reader-text {
          border-color: #1445ac;
          z-index: 10;
          position: relative; }
        .site-header .header-main .header-items li a {
          font-size: 0;
          padding: 12px;
          background-position: 0 0;
          border: none;
          background-image: url("../img/icons.png");
          -webkit-transition: all .4s ease;
          transition: all .4s ease;
          border-color: #1445ac; }
          .site-header .header-main .header-items li a:hover {
            background-color: #1a58d9;
            border: 1px solid #1445ac; }
        .site-header .header-main .header-items li.search-toggle a {
          background-position: -24px 0; }
        .site-header .header-main .header-items li.account a {
          background-position: -47px 0; }
        .site-header .header-main .header-items li.order a {
          background-position: -72px 0; }
        .site-header .header-main .header-items li.cart a {
          background-position: -2px 0; }
    .site-header .header-main .main-navigation {
      float: left;
      clear: none;
      width: auto; }
      .site-header .header-main .main-navigation li {
        background-color: #3e75e8; }
        .site-header .header-main .main-navigation li .sub-menu {
          width: auto;
          top: 57px; }
    .site-header .header-main .flexnav {
      text-align: center;
      max-height: 100%;
      opacity: 1; }
      .site-header .header-main .flexnav > li {
        display: inline-block;
        width: auto;
        padding: 15px 0; }
    .site-header .header-main li:first-child a {
      border: none; }
    .site-header .header-main li a {
      padding: 5px 15px;
      background: #3e75e8;
      border: none;
      color: #fff;
      border-left: 1px solid #1445ac; }
      .site-header .header-main li a:hover {
        color: #0f337e; }
    .site-header .header-main li .touch-button {
      height: 15px;
      top: 40px;
      right: 0;
      left: 0;
      width: 70%;
      margin: 0 auto;
      background-color: transparent; }
      .site-header .header-main li .touch-button i {
        top: -7px;
        font-size: 8px;
        font-style: normal;
        font-weight: bold;
        color: #fff; }
      .site-header .header-main li .touch-button.active i {
        color: #174fc2; }
    .site-header .header-main li li a {
      background-color: #2765e5;
      border-top: 1px solid #123c95; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 100;
  border: none;
  right: 20px;
  top: 20px; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 28px;
  height: 3px;
  background: white;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  display: block; }

svg path {
  fill: #e0e0e0; }

.sw-bottom {
  position: relative;
  width: 28px;
  height: 3px;
  top: 6.6px;
  background: white;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 28px;
  height: 3px;
  top: 13.5px;
  background: white;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.sandwich.active .sw-bottom {
  top: 6px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.toggle_mnu {
  left: -5px;
  top: -5px;
  position: absolute;
  background-color: transparent; }
  .toggle_mnu .touch-button {
    display: none; }
